<div class="mdc-list">
    <MdcNavLink Href="" Icon="home" Text="Home" Match=NavLinkMatch.All />
    <MdcNavLink Href="purchases-list" Icon="people" Text="Purchases List" />
    @*<MdcNavLink Href="agents-list" Icon="person_pin" Text="Agents (list)" />*@
    <MdcNavLink Href="receives-list" Icon="person_pin" Text="Receive Products" />
    @*<MdcNavLink Href="list" Icon="person_pin" Text="List" />*@
</div>
